@import url("https://fonts.googleapis.com/css2?family=Pirata+One&display=swap");
@import "animations";
@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}
html,
body,
#root {
  min-height: 100vh;
}

body {
  background-image: url(../assets/bg.png);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  &:before {
    content: "";
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.5);
    z-index: -1;
  }
}

h1 {
  font-family: Pirata One, cursive;
  color: rgba($color: #ffffff, $alpha: 0.8);
}

.font-pirata {
  font-family: Pirata One, cursive;
}
